<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neoblack.mapper.UserMapper">
    <select id="queryUserLimit" resultType="com.neoblack.pojo.User">
        select * FROM tb_personal_info LIMIT #{l1},#{l2}
    </select>
</mapper>